body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  /* width: 1158px; */
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/******* HEADER *********/

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  /* display: flex; */
  display: none;
  /* gap: 40px; */
}

.header-logo-blue {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  padding: 17px 0;
}

.header-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header-item-link:focus {
  color: #404bbf;
}

.header-item-link:hover {
  color: #404bbf;
}

.header-item-link-after {
  text-decoration: none;
  color: #404bbf;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link-after::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  background: #404bbf;
  bottom: -1px;
  width: 100%;
  height: 4px;
  transform: translateY(-100%);
  left: 0px;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.address-list {
  /* display: flex;
  gap: 40px; */
}

.address-item-contact {
  color: var(--SLATE, #434455);
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 1.5;
  letter-spacing: 0.02em; */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-contact:hover {
  color: #404bbf;
}

.address-item-contact:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/******* MAIN SECTION *********/

.main-section {
  /* max-width: 1440px;
  height: 600px; */
  max-width: 320px;
  height: 432px;
  flex-shrink: 0;
  background-color: #2e2f42;
  display: block;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x-min.jpg);
  }
}

.hero-container {
}

.main-start {
  color: var(--WHITE, #fff);
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /* line-height: 1.07; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  /* padding-top: 188px; */
  padding-top: 72px;
}

.main-btn {
  display: block;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  /* margin-bottom: 188px; */
  margin: 0 auto;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover {
  background-color: #404bbf;
}

.main-btn:focus {
  background-color: #404bbf;
}

.main-btn:active {
  color: #404bbf;
}

/******* FEATURES *********/

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.conteiner-f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-items {
  width: calc((100% - 72px) / 4);
}

.features-icons {
  flex-shrink: 0;
  margin: 24px 100px;
}

.f-icons-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  fill: none;
}

.features-items-list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-items-list-discription {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/******* OUR TEAM *********/

.sectin-ourteam {
  background-color: #f4f4fd;
  flex-shrink: 0;
  margin: auto;
}

.team-container {
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
  padding-top: 96px;
  padding-bottom: 96px;
}

.title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.title-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.title-item {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}

.title-photo {
  display: block;
  min-width: 100%;
  height: auto;
}

.title-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
}

.title-name-discription {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.title-list-social-name {
  width: 40px;
  height: 40px;
}

.title-dot {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-dot:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.title-dot:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.title-dot-social {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.name-container {
}

.title-list-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 32px;
}

/******* PORTFOLIO *********/

.section-portfolio {
  background: #ffffff;
}

.portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  width: calc((100% - 24 * 2) / 3);
  margin-bottom: 120px;
}

.portfolio-cover-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
  position: relative;
}

.portfolio-img {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-zone {
  position: relative;
  overflow: hidden;
}

.portfolio-img:hover .portofolio-cover-text {
  transform: translateY(0%);
}
.portofolio-cover-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-discrpt {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/******* FOOTER *********/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}

.footer-left {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-blue {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-discrpt {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-right {
  margin-right: 80px;
}

.footer-social {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-dot {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-dot-social {
  fill: #f4f4fd;
}

.footer-dot:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #31d0aa;
}

.footer-dot:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #31d0aa;
}

.footer-subscribe {
}

.footer-subscribe-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-lable {
  display: flex;
}

.footer-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-right: 24px;
}

.footer-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  min-width: 165px;
}

.footer-btn:hover {
  background-color: #404bbf;
}

.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn:active {
  color: #404bbf;
}

.footer-plane {
  margin-left: 16px;
}

/******* MODAL SECTION *********/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.modal-close-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .button-x,
.modal-close-btn:focus > .button-x {
  fill: #ffffff;
}

.button-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrapp {
  position: relative;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-lable {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  stroke: none;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-one {
  margin-bottom: 16px;
}
.modal-checkbox {
  margin-bottom: 24px;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.check-text a {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #e7e9fc;
  margin-right: 12px;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250s
    cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  display: inline-flex;
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.user-privacy-span {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.ckecked-btn {
  display: block;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
  min-width: 169px;
  height: 56px;
}

.ckecked-btn:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.ckecked-btn:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.ckecked-btn:active {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

/* *********************************** */
/******* MEDIA TAB ********/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }

  /****** HEADER *****/

  .header-list {
    display: flex;
    gap: 40px;
  }

  .open-menu-btn {
    display: none;
  }

  .address {
    display: block;
  }

  .header-logo {
    margin-right: 120px;
  }

  .address-item-contac {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /****** MAIN SECTION ******/

  .main-section {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab-min.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x-min.jpg);
    }
  }

  .main-start {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    padding-top: 112px;
  }

  .main-btn {
    margin-bottom: 112px;
  }

  /****** OURTEAM ******/

  .team-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .title-list {
    gap: 64px 24px;
  }

  .title-item {
    width: calc((100% - 24px) / 2);
  }
}

/* *********************************** */
/******* MEDIA DESKTOP ********/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /****** HEADER *****/

  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-item-contac {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /****** MAIN SECTION ******/

  .main-section {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_bg.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop-2x-min.jpg);
    }
  }

  .main-start {
    margin-bottom: 48px;
    padding-top: 188px;
  }

  .main-btn {
    margin-bottom: 112px;
  }

  /****** OURTEAM ******/

  .team-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title-list {
    gap: 24px;
  }
  .title-item {
    width: calc((100% - 72px) / 4);
  }
}
